/* Reset Layout of default page styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --primaryColor: #090020;
  --secondaryColor: #481877;
  --buttonBg: url(./img/starryButtons.jpg);

  /* Space to make standard fonts and colors below */
  --standardFontColor: rgb(255, 254, 240);
}

/* Styling for Parallax */

@keyframes zoomOut {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(1);
  }
}
.parallaxContainer {
  height: 300vh;
  position: relative;
  view-timeline-name: --zoom-timeline;
  view-timeline-axis: block;
}

.parallaxSticky {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

#jupiterSplash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-timeline: --zoom-timeline;
  animation-name: zoomOut;
  animation-timing-function: linear;

  animation-range: entry 0% exit 100%;
}

.parallaxContent {
  position: relative;
  z-index: 2;
  text-align: center;
  text-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}
